//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    div.row(ng-cloak)
      div.col-xs-12.stat-holder
        div.big-info.bestblock.text-info
          div.pull-right.icon-full-width
            i.icon-block
          div.big-details-holder
            span.small-title block height
            span.big-details {{'#'}}{{ bestBlock | number}}
          div.clearfix
      div.col-xs-12.stat-holder
        div.big-info.blocktime(class="{{ lastBlock | timeClass : true }}")
          div.pull-right.icon-full-width
            i.icon-time
          div.big-details-holder
            span.small-title last block
            span.big-details {{ lastBlock | blockTimeFilter }}
            //- span.big-details(time-ago="lastBlock")
          div.clearfix
      div.col-xs-12.stat-holder
        div.big-info.avgblocktime(class="{{ avgBlockTime | avgTimeClass }}")
          div.pull-right.icon-full-width
            i.icon-gas
          div.big-details-holder
            span.small-title avg block time
            span.big-details {{ avgBlockTime | avgTimeFilter }}
          div.clearfix
      div.col-xs-12.stat-holder
        div.big-info.difficulty.text-danger
          div.pull-right.icon-full-width
            i.icon-difficulty
          div.big-details-holder
            span.small-title difficulty
            span.big-details
              span.small-hash {{ lastDifficulty | totalDifficultyFilter }}
          div.clearfix
      div.col-xs-12
            div.row
              div.col-xs-12.stat-holder
                div.big-info.chart.text-info
                  //- i.icon-uncle
                  span.small-title transactions
                  sparkchart.big-details.spark-transactions(data="{{transactionDensity.join(',')}}")
        div.clearfix


    div.row(ng-cloak)
      div.col-xs-12.stats-boxes(style="padding-top: 0px;")
        div.row.second-row
          div.col-xs-12.stat-holder.box
            div.active-nodes(class="{{ nodesActive | nodesActiveClass : nodesTotal }}")
              i.icon-node
              span.small-title active nodes
              span.small-value {{nodesActive}}/{{nodesTotal}}
          div.col-xs-12.stat-holder.box
            div.gasprice.text-info
              i.icon-gasprice
              span.small-title gas price
              span.small-value {{ bestStats.gasPrice.toString() | gasPriceFilter }}
          div.col-xs-12.stat-holder.box
            div.gasprice.text-info
              i.icon-gasprice
              span.small-title gas limit
              span.small-value {{ bestStats.block.gasLimit }} gas
          div.col-xs-12.stat-holder.box
            div.page-latency(class="{{ {active: true, latency: latency} | latencyClass }}")
              i.icon-clock
              span.small-title page latency
              span.small-value {{latency}} ms
          div.col-xs-12.stat-holder.box
            div.uptime(class="{{ upTimeTotal | upTimeClass : true }}")
              i.icon-bulb
              span.small-title uptime
              span.small-value {{ upTimeTotal | upTimeFilter }}
          div.col-xs-12.stat-holder.box

